.main-page {
    min-height: 100vh;
    color: brown;
}

.circle {
    position: absolute;
    left: 40%;
    top: 22%;
    width: 300px;
    height: 300px;
    z-index: 2;
    border-radius: 50%;
    border: 1px white transparent;
}