@font-face {
    font-family: "Nunito sans regular";
    src: url(../src/assets/fonts/Nunito-sans/NunitoSans.ttf);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Nunito sans regular", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 99%;
    height: 100vh;
    font-size: 14px;
    line-height: 1;
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
}

.a:hover {
    cursor: pointer;
}